@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}



body {
    background-image: url(./images/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
    background-color: hsl(235, 21%, 11%);
    margin: 1.25rem;
}

.container {
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
    box-shadow: 0px 10px 50px 18px rgba(0,0,0,0.2);
}




/* HEADER STYLES  */
header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

h1 {
    color: hsl(0, 100%, 100%);
    letter-spacing: 0.5rem;
    font-size: 1.75rem;
}





/* NEW TODO INPUT */
.new-todo {
    padding: 1rem;
    margin-bottom: 1rem;

    display: flex;
    align-items: center;
}

.new-todo input {
    padding: 0 0.5rem;
    width: 90%;

    background-color: transparent;
    border: none;
    outline: none;
        
    color: hsl(234, 39%, 85%);
    caret-color: hsl(220, 98%, 61%);
}

.new-todo::before {
    content: " ";
    display: inline-block;
    margin-right: 0.325rem;

    width: 1.25rem;
    height: 1.25rem;

    border-radius: 50%;
    border: solid 1px hsl(237, 14%, 26%);
}





/* TODO LIST */


.todo-list li {
    list-style: none;
    font-size: 0.813rem;
    color: hsl(234, 39%, 85%);
    
    align-items: center;
    display: flex;

    padding: 1rem;
    border-bottom: 1px solid hsl(237, 14%, 26%);

}

.todo-list li::before {
    content: " ";
    display: inline-block;
    margin-right: 0.75rem;

    width: 1.25rem;
    height: 1.25rem;

    border-radius: 50%;
    border: solid 1px hsl(237, 14%, 26%);
/* 
    background: rgb(87,221,255);
    background: linear-gradient(132deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%); */
}

.remove-button {
    margin-left: auto;
    width: 0.813rem;
}



/* list footer */

.list-footer {
    font-size: 0.813rem;
    color: hsl(233, 14%, 35%);

    display: flex;
    justify-content: space-between;

    padding: 1rem;
    margin-bottom: 1rem;
}

.list-footer button {
    background-color: transparent;
    border: none;

    color: hsl(233, 14%, 35%);
}





/* SHOW STATUS */
.show-status {
    padding: 1rem;
    color: hsl(233, 14%, 35%);

    font-weight: 700;

    display: flex;
    justify-content: center;
}

.show-status input {
    display: none;
}
.show-status input:checked + label{
    color: hsl(220, 98%, 61%);
}

.show-status label {
    margin: 0 0.5rem;
}





/* REORDER MESSAGE */

.reorder-msg{
    margin-top: 3rem;

    text-align: center;
    color: hsl(233, 14%, 35%);
    font-size: 0.813rem;
    font-weight: 700;
    
}
