@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}



body {
    background-repeat: no-repeat;
    margin: 1.25rem;
}

.container {
    border-radius: 5px;
}

#todoList .todo-wrapper.dragging {
    border: 2px dashed hsl(220, 98%, 61%);
    cursor: pointer;
}


/* HEADER STYLES  */
header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

h1 {
    color: hsl(0, 100%, 100%);
    letter-spacing: 0.5rem;
    font-size: 1.75rem;
}

header img {
    width: 1.25rem;
    height: 1.25rem;
}



/* NEW TODO INPUT */
.new-todo {
    padding: 1rem;
    margin-bottom: 1.25rem;

    display: flex;
    align-items: center;
}

.new-todo input {
    padding: 0 0.5rem;
    width: 90%;

    background-color: transparent;
    border: none;
    outline: none;

    caret-color: hsl(220, 98%, 61%);
}

.new-todo::before {
    content: " ";
    display: inline-block;
    margin-right: 0.325rem;

    width: 1.25rem;
    height: 1.25rem;

    border-radius: 50%;
}





/* TODO LIST */
div.todo {
    border-radius: 5px 5px 0 0px;
}

ul {
    min-height: 17.25rem;
}

.msg-container {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 17.25rem;
}

#noTodoMsg {
    display: inline-block;
    text-align: center;
    width: 100%;
    color: hsl(235, 19%, 35%);
    font-size: 0.813rem;

}

.todo-list li {
    list-style: none;
    font-size: 0.813rem;

    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    padding: 1rem;
}

.todo-wrapper {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    overflow-wrap: anywhere;
    user-select: none;
}

.todo-wrapper.hide {
    display: none;
}

.circle {
    width: 1.5rem;
    height: 1.4rem;
    border-radius: 50rem;
}

.circle.checked {
    background: rgb(87, 221, 255);
    background: linear-gradient(132deg, rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
}

.check-icon {
    background-image: url(./images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 1.25rem;
}

.complete {
    text-decoration: line-through;
}

.remove-button {
    margin-left: auto;
    width: 0.813rem;
}



/* list footer */
.list-footer {
    font-size: 0.813rem;

    display: flex;
    justify-content: space-between;

    padding: 1rem;
    margin-bottom: 1rem;
}

.list-footer.mobile-footer {
    border-radius: 0 0px 5px 5px;
}

.clear-button {
    background-color: transparent;
    border: none;
    font-size: 0.813rem;
    transition: 0.2s;
}

.show-status.desktop-footer {
    display: none;
    border-radius: 0 0 5px 5px;
    font-size: 0.813rem;
}



/* SHOW STATUS */
.show-status {
    padding: 1rem;

    font-weight: 700;

    display: flex;
    justify-content: center;
}

.show-status input {
    display: none;
}

.show-status input:checked+label {
    color: hsl(220, 98%, 61%);
}

.show-status label {
    margin: 0 0.5rem;
}





/* REORDER MESSAGE */

.reorder-msg {
    margin-top: 3rem;

    text-align: center;
    font-size: 0.813rem;
    font-weight: 700;

}






/* Light Mode Styles */
body.light {
    background-image: url(./images/bg-mobile-light.jpg);
    background-color: hsl(236, 33%, 92%);
}

body.light .container {
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.1);
}

body.light .new-todo input {
    color: hsl(235, 19%, 35%);
}

body.light .new-todo::placeholder {
    color: hsl(236, 9%, 61%);
}

body.light .new-todo::before {
    border: solid 1px hsl(233, 11%, 84%);
}

body.light ul {
    border-bottom: 1px solid hsl(233, 11%, 84%);
}

body.light .todo-list li {
    color: hsl(235, 19%, 35%);
}

body.light .todo-wrapper {
    border-bottom: 1px solid hsl(233, 11%, 84%)
}

body.light .circle {
    border: solid 1px hsl(233, 11%, 84%);
}

body.light .list-footer {
    color: hsl(236, 9%, 61%);
}

body.light .clear-button {
    color: hsl(236, 9%, 61%);
}

body.light .show-status {
    color: hsl(236, 9%, 61%);
}

body.light .reorder-msg {
    color: hsl(236, 9%, 61%);
}

body.light #noTodoMsg {
    color: hsl(236, 9%, 61%);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2)
}

body.light .todo-list .complete {
    color: hsl(233, 11%, 84%);
}






/* Dark Mode Styles */
body.dark {
    background-image: url(./images/bg-mobile-dark.jpg);
    ;
    background-color: hsl(235, 21%, 11%);
}

body.dark .container {
    background-color: hsl(235, 24%, 19%);
    ;
    box-shadow: 0px 10px 50px 15px rgba(0, 0, 0, 0.2);
}

body.dark .new-todo input {
    color: hsl(234, 39%, 85%);
}

body.dark .new-todo::placeholder {
    color: hsl(234, 39%, 85%);
}

body.dark .new-todo::before {
    border: solid 1px hsl(237, 14%, 26%)
}

body.dark ul {
    border-bottom: 1px solid hsl(237, 14%, 26%);
}

body.dark .todo-list li {
    color: hsl(234, 39%, 85%);
}

body.dark .todo-wrapper {
    border-bottom: 1px solid hsl(237, 14%, 26%)
}

body.dark .circle {
    border: solid 1px hsl(237, 14%, 26%);
}

body.dark .list-footer {
    color: hsl(233, 14%, 35%);
}

body.dark .clear-button {
    color: hsl(233, 14%, 35%);
}

body.dark .show-status {
    color: hsl(233, 14%, 35%);
}

body.dark .reorder-msg {
    color: hsl(233, 14%, 35%);
}

body.dark #noTodoMsg {
    color: hsl(235, 19%, 35%);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

body.dark .todo-list .complete {
    color: hsl(234, 11%, 52%);
}



/* Media Queries */
@media only screen and (min-width: 376px) {
    body {
        margin: 1.25rem 10vw;
    }

    body.dark {
        background-image: url(./images/bg-desktop-dark.jpg);
        background-size: auto 32%;
    }

    body.light {
        background-image: url(./images/bg-desktop-light.jpg);
        background-size: auto 32%;
    }
}

@media only screen and (min-width: 481px) {
    body {
        margin: 1.25rem 15vw;
    }
}

@media only screen and (min-width: 769px) {
    body {
        margin: 1.25rem 23vw;
    }
}

@media only screen and (min-width: 960px) {
    body {
        margin: 2.5rem 27vw;
        transition: 0.2s ease-in;
    }

    body.dark {
        background-size: 100vw;
    }

    body.light {
        background-size: 100vw;
    }

    header img {
        cursor: pointer;
    }
    

    .mobile-footer {
        display: none;
    }

    .show-status.desktop-footer {
        display: flex;
        justify-content: space-between;
    }

    
    .show-status.desktop-footer p {
        font-weight: 400;
    }

    .show-status label {
        cursor: pointer;
    }

    .desktop-footer input:checked+label {
        color: hsl(220, 98%, 61%);
    }

    body.dark .desktop-footer label:hover {
        color: hsl(236, 33%, 92%);
    }

    body.light .desktop-footer label:hover {
        color: hsl(235, 19%, 35%);
    }

    body.dark .clear-button:hover {
        color: hsl(236, 33%, 92%);
        cursor: pointer;
    }

        body.light .clear-button:hover {
        color: hsl(235, 19%, 35%);
        cursor: pointer;
    }
    
    div.todo-wrapper {
        cursor: pointer;
    }

    .todo-wrapper img.remove-button {
        visibility: hidden;
    }

    .todo-wrapper:hover img.remove-button {
        visibility: visible;
    }



    body.dark div.todo-wrapper:hover .circle {
        background: linear-gradient(hsl(235, 24%, 19%), hsl(235, 24%, 19%)) padding-box,
            linear-gradient(132deg, rgba(87, 221, 255, 1), rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%) border-box;
        border-radius: 50rem;
        border: 1px solid transparent;
        transition: 0.4s;
    }

    body.light div.todo-wrapper:hover .circle {
        background: linear-gradient(hsl(0, 0%, 98%), hsl(0, 0%, 98%)) padding-box,
            linear-gradient(132deg, rgba(87, 221, 255, 1), rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%) border-box;
        border-radius: 50rem;
        border: 1px solid transparent;
        transition: 0.4s;
    }

    
    body.dark div.todo-wrapper:hover .checked, body.light div.todo-wrapper:hover .checked {
        background: linear-gradient(132deg, rgba(87, 221, 255, 1), rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%) padding-box,
            linear-gradient(132deg, rgba(87, 221, 255, 1), rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%) border-box;
        border-radius: 50rem;
        border: 1px solid transparent;
        transition: 0.4s;
    }


}

@media only screen and (min-width: 1060px) {
    body {
        margin: 2.5rem 30vw;
    }

    body.dark {
        background-size: 100vw;
    }

    body.light {
        background-size: 100vw;
    }

}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 1.125rem;
    }

    body {
        margin: 3.25rem 31vw;
    }

    header {
        margin: 1rem 0;
    }

    header h1 {
        font-size: 2.25rem;
        letter-spacing: 1rem;
    }

    header img {
        width: 1.5rem;
        height: 1.5rem;
    }
}